<% layout('layout/page') -%>
<% block('title', 'Добавление нового события'); -%>
<section class="container">
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Добавление нового события</h1>
                </div>

                <form method="post" id="screen-edit" action="/schedule">
                    <input type='hidden' name='id' class="id" value=''/>
                    <div class="form-group">
                        Название:<br>
                        <input type='text' name='name' class='form-control fu-place' value=''/>
                    </div>
                    <div class="form-group">
                        Описание: <br>
                        <input type='text' name='description' class='form-control' value=''/>
                    </div>
                    <div class="form-group">
                        Локация: <br>
                        <input type='text' name='place' class='form-control' value=''/>
                    </div>
                    <div class="form-group">
                        ТВ: <br>
                        <input type='text' name='tv' class='form-control' value=''/>
                    </div>
                    <div class="form-group">
                        Тайминг: <br>
                        <input type='text' name='time' class='form-control' value=''/>
                    </div>
                    <div class="form-group">
                        Активен (1 или 0): <br>
                        <input type='text' name='isactive' class='form-control' value=''/>
                    </div>
                    <input type='submit' value='Сохранить' class='btn btn-primary'>
                </form>
            </div>
        </div>
    </div>
</section>