.preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    text-align: center;
    padding-top: 30%;
    z-index: 1000;
}
.smallImg{
    display: inline-block;
    margin: 0 10px 10px 0;
    cursor: pointer;
    border: 3px solid white;
    width: 106px;
    height: 62px;
    overflow: hidden;
}
.smallImg h1,.smallImg h2,.smallImg h3,.smallImg h4,.smallImg h5,.smallImg h6, .smallImg p{
    font-size:10px !important;
}
.smallImg img{
    width: 100px;
}