<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="/css/main.bundle.css"/>
    <script src="/js/bundle.js"></script>
    <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
    <script src="https://kit.fontawesome.com/de94465633.js"></script>
</head>
<body>
<header>
    <section class="container">
        <%- partial('../partials/topNavigation') %>
    </section>
</header>

<section class="container">
    <%-body -%>
</section>


<footer>

</footer>
</body>
</html>